@{
    ViewBag.Title = "Oswiadczenie";
}
<div>
    <a class="btn btn-outline-warning" asp-action="Index">powrót do strony głównej</a>
</div>
<h2>Oswiadczenie</h2>
<p>Brałem udział we wszystkich zajęciach czasem zdalnie, a czasem stacjonarnie :)</p>
