<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FilmDB</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(154,179,208,1) 100%);">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-darkborder-bottom bg-secondary text-light box-shadow mb-3">
            <div class="container" >
                <a class="navbar-brand" asp-controller="film" asp-action="Index">FilmDB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-lg-grow-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Film" asp-action="Wzorce">Wzorce</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Film" asp-action="Oswiadczenie">Obecnosci</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="background-color: lightgray; min-width: 1200px; position: bottom">
            &copy; 2023 - FilmDB 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
